.content {
  border: 2px solid deepskyblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}
