.quantity-label {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.add, .sub, .quantity, .delete {
  align-content: center;
  border: 2px solid rgba(59, 59, 59, 0.459);
  border-radius: 4px;
  height: fit-content;
  padding: 0 0 1px;
  width: 10%;
}

.add {
  padding-left: 1px;
}

.quantity {
  padding: 1px;
}
