* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --text-color-black-800: rgb(29, 29, 29);

  --text-color-black-600: rgb(51, 51, 51);

  --text-color-black-400: rgb(102, 102, 102);

  --orange-color-600: rgb(228, 104, 69);

  --black-color-600: rgb(47, 43, 51);

  --black-color-400: rgb(71, 70, 77);

  --red-color-600: rgb(224, 56, 56);

  --green-color-600: rgb(75, 181, 67);

  --purple-color-600: rgb(143, 40, 211);
}

a {
  color: inherit;
  outline: 0;
  text-decoration: inherit;
}

body {
  background-color: rgb(240, 242, 245);
  color: var(--text-color-black-800);
  font-family: Poppins , sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-black-600);
  font-family: Cabin , sans-serif;
  font-size: 2rem;
}
