.home-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  width: 250px;
}

.produtcs {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category {
  margin: 15px 0;
}

.shopping-cart {
  width: 50px;
  height: 30px;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.back {
  height: 18px;
  width: 30px;
}

.product {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 2px;
  width: 300px;
}

.botoes {
  display: flex;
  justify-content: space-around;
}

.detailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.imageProduct {
  width: 250px;
}
