.home-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  width: 250px;
}

.produtcs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.category {
  margin: 15px 0;
}

.shopping-cart {
  width: 30px;
}

.back {
  width: 30px;
  height: 18px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  margin: 2px;
}

.botoes {
  display: flex;
  justify-content: space-around;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageProduct {
  width: 250px;
}
