body {
  color: inherit;
}

@media screen and ( max-width : 768px ) {

  /* Section de cada produto */
  .content {
    border: 3px solid var(--black-color-600);
    border-radius: 10px;
    height: 350px;
    width: 300px;
    display: flex;
    margin: 25px auto;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    color: var(--text-color-black-600);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .priceText {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--red-color-600);
  }

  .titleProduct {
    margin-bottom: 10px;
    padding: 8px;
  }

  .imgProduct {
    align-self: center;
    height: 55%;
    width: 55%;
  }

  .btnAddToCart {
    background-color: var(--black-color-600);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 12px;
    overflow: hidden;
  }
}
