body {
  color: inherit;
}

@media screen and ( max-width : 768px ) {

  /* Cabeçalho da Pagina */
  .header {
    background-color: var(--black-color-600);
    display: flex;
    flex-direction: column;
  }

  .titleLogo {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .cartLogo {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    min-width: 250px;
    width: 80%;
  }

  .btnCart {
    border-radius: 5px;
    text-decoration: none;
    color: var(--orange-color-600);
    width: 35px;
  }

  .lengthCart {
    color: var(--red-color-600);
    position: absolute;
  }

  .iconCart {
    height: 100%;
    width: 100%;
    padding: 3px 5px 3px 3px;
    position: relative;
  }

  /* Barra de pesquisa do header */
  .inputContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 250px;
    width: 80%;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 14px;
  }

  .inputSearch {
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.8rem;
    outline: 0;
    transition: 0.7s;
  }

  .inputSearch:active, 
  .inputSearch:focus {
    box-shadow: 0 0 1rem rgb(224 56 56 / 60%);
  }

  .btnSearch {
    border: none;
    margin-top: 6px;
    width: 34px;
    position: absolute;
    right: 11%;
  }

  .iconSearch {
    height: 100%;
    width: 100%;
    color: var(--black-color-600);
    padding: 3px;
  }

  .textInput {
    display: none;
  }

  /* Categorias */
  .categoryList {
    display: flex;
    overflow: scroll;
    list-style: none;
  }

  .categoryItemBtn {
    background-color: var(--orange-color-600);
    border: none;
    color: white;
    font-family: Poppins , sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 2px;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 60%);
    transition: 0.7s;
  }

  /* produtos da pagina */
  .checkedProduct {
    font-size: 1.2rem;
    text-align: center;
  }

  .contentProducts {
    display: flex;
    flex-wrap: wrap;
  }

  /* Titulo geral */
  .title {
    color: var(--text-color-black-400);
    padding: 10px;
    text-align: center;
  }

  /* Contener de todos os produtos */
  .productsItems {
    display: flex;
    flex-wrap: wrap;
  }
}
