.card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 15px;
  text-align: center;
  width: 250px;
}

.card img {
  width: 100px;
}
