.contentFooter {
  background-color: var(--black-color-600);
  margin: 20px 0;
}

.titleOption {
  color: var(--orange-color-600);
  font-size: 1.5rem;
  padding: 1.2rem;
  text-align: center;
}

.contentCopy {
  color: rgb(235, 202, 202);
  font-size: 65%;
  margin: 20px;
  text-align: center;
}

.boxFooter {
  display: flex;
  justify-content: space-around;
}

.iconFace {
  color: white;
  height: 30px;
  width: 30px;
}

.iconInsta {
  color: white;
  height: 30px;
  width: 30px;
}

.iconEmail {
  color: white;
  height: 35px;
  width: 35px;
}

.iconCall {
  color: white;
  height: 30px;
  width: 30px;
}
