.content-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.search-and-products {
  order: 1;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  width: 500px;

}

.searchbar {
  border: 1px black solid;
  border-radius: 5px;
  width: 90%;
}

.shopping-cart-image {
  width: 25px;
}

.category-box {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  margin-left: 10px;
  padding: 2%;
  width: 200px;
}

.category {
  margin-top: 8px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
