* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  padding: 20px;
}

.content {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 10px;
}

.seachByText {
  display: flex;
}

.catSearchID {
  padding-left: 2px;
  padding-right: 2px;
  width: 350px;
}

.textOfSeach {
  font-size: 0;
}

.imgCar {
  width: 25px;
}

.downContent {
  display: flex;
}

.categories {
  width: 300px;
}

.listProductBySeachAndFilter {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

.product {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.free-shipping {
  width: 60px;
}
