.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cart-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 50%;
}

.cart-item img {
  width: 150px;
}

.checkout-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.checkout-prod-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.checkout-products-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.checkout-products-card p {
  margin: 0 50px;
}

.checkout-card-title {
  font-size: 18px;
  text-align: center;
  width: 300px;
}

.checkout-products-card img {
  padding-right: 50px;
  width: 100px;
}

.checkout-card-numbers {
  font-size: 25px;
}

.checkout-totalPrice {
  font-size: 25px;
  text-align: center;
}

.checkout-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-label {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 50%;
}

.checkout-label input {
  width: 200px;
}

.payment-method-form {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.payment-method-form img {
  height: 80px;
  margin-right: 50px;
  width: 100px;
}
